
	
}
legand {
   color:darkred;
}
#education {
    background-color:antiquewhite;
}
#skills{
    background-image:url("../images/logo14.jpg");
}
#contact{
    background-color:floralwhite;
}

#a{
    background-color:lightsteelblue;
}
